@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

div:focus{
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.fl {
  float: left !important;
}

.fr {
  float: right !important;
}
//main-container全局样式
.app-main{
  min-height: 100%;
  padding-top: $navbarHeight;
}

.app-container {
  padding: 20px;
}

.button-area {
  margin-bottom: 12px;
}

// 一些全局类
.mgb12 {
  margin-bottom: 12px;
}

.sub-text {
  display: block;
  color: map-get($palette, info);
}